<%= turbo_stream_from @match %>
<section class="flex flex-col min-h-screen font-snes" id="scores">
  <div class="bg-blue-600 flex-1 w-full flex items-stretch">
    <div class="grid grid-cols-12 w-full min-h-full">
      <div class="col-span-5 bg-gradient-to-b from-blue-500 to-blue-700 p-10">
        <div class="flex items-center min-h-full text-white text-8xl text-shadow" id="competitor_one_public_details">
          <%= render partial: 'matches/competitor_one/competitor_one_public_details',
                     locals: { match: @match } %>
        </div>
      </div>
      <div class="col-span-7 bg-black" id="competitor_one_public">
        <%= render partial: "matches/competitor_one/competitor_one_public",
                   locals: { match: @match } %>
      </div>
    </div>
  </div>
  <div class="bg-gray-600 flex-1 w-full flex items-stretch border-t">
    <div class="grid grid-cols-12 w-full min-h-full">
      <div class="col-span-5 bg-gradient-to-b from-gray-500 to-gray-700 p-10">
        <div class="flex items-center min-h-full text-white text-8xl text-shadow" id="competitor_two_public_details">
          <%= render partial: "matches/competitor_two/competitor_two_public_details",
                     locals: { match: @match } %>
        </div>
      </div>
      <div class="col-span-7 bg-black" id="competitor_two_public">
        <%= render partial: 'matches/competitor_two/competitor_two_public',
                   locals: { match: @match } %>
      </div>
    </div>
  </div>
  <div class="bg-black flex-1 w-full p-5 flex justify-center items-center text-white text-12xl relative font-action" id="timer">
    <%= render partial: 'timer', locals: { start_time: @match.start_time } %>
  </div>
</section>
