<%= turbo_stream_from @match %>
<section class="flex flex-col min-h-screen font-snes" id="scores">
  <div class="bg-blue-600 flex-1 w-full flex items-stretch">
    <div class="grid grid-cols-12 w-full min-h-full">
      <div class="col-span-5 bg-gradient-to-b from-blue-500 to-blue-700 p-10">
        <div class="flex items-center min-h-full text-white text-8xl" id="competitor_one_private_details">
          <%= turbo_frame_tag dom_id(@match.competitor_one) do %>
            <%= render partial: "matches/competitor_one/competitor_one_private_details",
                       locals: { match: @match } %>
          <% end %>
        </div>
      </div>
      <div class="col-span-7 bg-black" id="competitor_one_private">
        <%= render partial: "matches/competitor_one/competitor_one_private",
                   locals: { match: @match } %>
      </div>
    </div>
  </div>
  <div class="bg-gray-600 flex-1 w-full flex items-stretch border-t">
    <div class="grid grid-cols-12 w-full min-h-full">
      <div class="col-span-5 bg-gradient-to-b from-gray-500 to-gray-700 p-10">
        <div class="flex items-center min-h-full text-white text-8xl" id="competitor_two_private_details">
          <%= turbo_frame_tag dom_id(@match.competitor_two) do %>
            <%= render partial: "matches/competitor_two/competitor_two_private_details",
                       locals: { match: @match } %>
          <% end %>
        </div>
      </div>
      <div class="col-span-7 bg-black" id="competitor_two_private">
        <%= render partial: "matches/competitor_two/competitor_two_private",
                   locals: { match: @match } %>
      </div>
    </div>
  </div>
  <div class="bg-black flex-1 w-full p-5 flex justify-center items-center text-white text-12xl relative font-action" data-controller="timer">
    <div id="timer">
      <%= render partial: 'timer', locals: { start_time: @match.start_time } %>
    </div>
    <div class="absolute bottom-1 left-0 right-0 text-xl">
      <div class="flex space-x-4 px-1">
        <button class="bg-blue-600 hover:bg-gray-800 rounded p-4 text-white timer-actions"
                data-action="click->timer#updateTimer"
                data-timer-url-param="<%= timer_match_path(@match).gsub('.','/') %>"
                data-timer-time-param="60000"
                data-timer-result-param="increment">
        +1 min
        </button>
        <button class="bg-blue-600 hover:bg-gray-800 rounded p-4 text-white timer-actions"
                data-action="click->timer#updateTimer"
                data-timer-url-param="<%= timer_match_path(@match).gsub('.','/') %>"
                data-timer-time-param="60000"
                data-timer-result-param="decrement"
        >
        -1 min</button>
        <button class="bg-blue-600 hover:bg-gray-800 rounded p-4 text-white timer-actions"
                data-action="click->timer#updateTimer"
                data-timer-url-param="<%= timer_match_path(@match).gsub('.','/') %>"
                data-timer-time-param="1000"
                data-timer-result-param="increment"
        >
        +1 sec</button>
        <button class="bg-blue-600 hover:bg-gray-800 rounded p-4 text-white timer-actions"
                data-action="click->timer#updateTimer"
                data-timer-url-param="<%= timer_match_path(@match).gsub('.','/') %>"
                data-timer-time-param="1000"
                data-timer-result-param="decrement"
        >
        -1 sec</button>
      </div>
    </div>
    <div class="absolute bottom-1 right-0 text-xl">
      <div class="flex space-x-4 px-1">
        <button class="bg-blue-600 hover:bg-gray-800 rounded p-4 play-actions"
                id="play"
                data-action="click->timer#play"
                data-timer-url-param="<%= timer_match_path(@match).gsub('.','/') %>">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
            <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
          </svg>
        </button>
        <button class="bg-blue-600 hover:bg-gray-800 rounded p-4 play-actions"
                id="stop"
                data-action="click->timer#stop"
                data-timer-url-param="<%= timer_match_path(@match).gsub('.','/') %>">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-stop-fill" viewBox="0 0 16 16">
            <path d="M5 3.5h6A1.5 1.5 0 0 1 12.5 5v6a1.5 1.5 0 0 1-1.5 1.5H5A1.5 1.5 0 0 1 3.5 11V5A1.5 1.5 0 0 1 5 3.5z"/>
          </svg>
        </button>
        <button class="bg-blue-600 hover:bg-gray-800 rounded p-4 play-actions"
                id="restart"
                data-action="click->timer#restart"
                data-timer-url-param="<%= timer_match_path(@match).gsub('.','/') %>">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
            <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
